@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.wrap-overview{
    width: 100%;
    height: 100%;
    padding: 10px 171px 90px 171px;
}

.wrap-overview h3{
    font-family: "Poppins, sans-serif";
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 25px;
}

.list-overview button{
    background: transparent !important;
    font-size: 15px !important;
    letter-spacing: 1px !important;
}

.active-color{
    color: rgb(108, 122, 224) !important;
}

.overview-select{
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}

.image-style{
    width: 100%;
    height: 360px;
    overflow: hidden;
}

.image-product{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.image-product:hover{
    transform: scale(1.1);
}

.name-product{
    font-family: "Poppins, sans-serif";
    font-weight: 500;
    font-size: 16px;
    color: rgb(34, 34, 34);
    padding: 20px 0 0 0;
}

.style-btn{
    position: absolute;
    display: none;
    z-index: 1;
}

.image-product:hover ~ .image-style > button{
    transform: translate(0,-20px);
}